.card {
    width: 100px;
    height: 139px;
    background-size:100%;
}

#zones {  
    float: right;
    width: 90%;
    position: relative;
}
.zone-hidden {
    background-color: #CCC;
}

.zone-hidden .card {
    background-image: url('http://www.wizards.com/magic/images/mtgcom/fcpics/making/mr224_back.jpg') !important;
}

.zone {
    width: 100%;
    min-height: 200px;
}

#steps {
    float: left;
    height: 100%;
    width: 10%;
    position: relative;
    font-size: 11px;
}

#steps span {
    display: block;
}

#steps span.active {
    font-weight: bold;
}
